In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('cust_cleaned.csv')

In [7]:
# Display all columns
pd.set_option('display.max_columns', None)

In [4]:
# Basic investigation
print("--- First 5 rows ---")
print(df.head())

print("\n--- Dataset Info ---")
df.info()

print("\n--- Summary Statistics ---")
print(df.describe())

print("\n--- Missing Values ---")
print(df.isnull().sum())

print("\n--- Duplicated Rows ---")
print(df.duplicated().sum())

--- First 5 rows ---
   Unnamed: 0    ID  Year_Birth Education Marital_Status      Income  Kidhome  \
0           0  5524        1957        S1         Lajang  58138000.0        0
1           1  2174        1954        S1         Lajang  46344000.0        1
2           2  4141        1965        S1    Bertunangan  71613000.0        0
3           3  6182        1984        S1    Bertunangan  26646000.0        1
4           4  5324        1981        S3        Menikah  58293000.0        1

   Teenhome Dt_Customer  Recency  MntCoke  MntFruits  MntMeatProducts  \
0         0  04-09-2012       58   635000      88000           546000
1         1  08-03-2014       38    11000       1000             6000
2         0  21-08-2013       26   426000      49000           127000
3         0  10-02-2014       26    11000       4000            20000
4         0  19-01-2014       94   173000      43000           118000

   MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0           172000             88000         88000                  3
1             2000              1000          6000                  2
2           111000             21000         42000                  1
3            10000              3000          5000                  2
4            46000             27000         15000                  5

   NumWebPurchases  NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  \
0                8                   10                  4                  7
1                1                    1                  2                  5
2                8                    2                 10                  4
3                2                    0                  4                  6
4                5                    3                  6                  5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Z_CostContact  Z_Revenue  Response  Customer_Age  Total_Children  \
0         0              3         11         1            66               0
1         0              3         11         0            69               2
2         0              3         11         0            58               0
3         0              3         11         0            39               1
4         0              3         11         0            42               1

   Total_Spending  Total_Transactions  Conversion_Rate Age_Bin
0         1617000                  25         0.142857   62-66
1           27000                   6         0.000000   67-71
2          776000                  21         0.000000   57-61
3           53000                   8         0.000000   37-41
4          422000                  19         0.000000   42-46

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2240 non-null   int64
 1   ID                   2240 non-null   int64
 2   Year_Birth           2240 non-null   int64
 3   Education            2240 non-null   object
 4   Marital_Status       2240 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2240 non-null   int64
 7   Teenhome             2240 non-null   int64
 8   Dt_Customer          2240 non-null   object
 9   Recency              2240 non-null   int64
 10  MntCoke              2240 non-null   int64
 11  MntFruits            2240 non-null   int64
 12  MntMeatProducts      2240 non-null   int64
 13  MntFishProducts      2240 non-null   int64
 14  MntSweetProducts     2240 non-null   int64
 15  MntGoldProds         2240 non-null   int64
 16  NumDealsPurchases    2240 non-null   int64
 17  NumWebPurchases      2240 non-null   int64
 18  NumCatalogPurchases  2240 non-null   int64
 19  NumStorePurchases    2240 non-null   int64
 20  NumWebVisitsMonth    2240 non-null   int64
 21  AcceptedCmp3         2240 non-null   int64
 22  AcceptedCmp4         2240 non-null   int64
 23  AcceptedCmp5         2240 non-null   int64
 24  AcceptedCmp1         2240 non-null   int64
 25  AcceptedCmp2         2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Z_CostContact        2240 non-null   int64
 28  Z_Revenue            2240 non-null   int64
 29  Response             2240 non-null   int64
 30  Customer_Age         2240 non-null   int64
 31  Total_Children       2240 non-null   int64
 32  Total_Spending       2240 non-null   int64
 33  Total_Transactions   2240 non-null   int64
 34  Conversion_Rate      2229 non-null   float64
 35  Age_Bin              2240 non-null   object
dtypes: float64(2), int64(30), object(4)
memory usage: 630.1+ KB

--- Summary Statistics ---
        Unnamed: 0            ID   Year_Birth        Income      Kidhome  \
count  2240.000000   2240.000000  2240.000000  2.216000e+03  2240.000000
mean   1119.500000   5592.159821  1968.805804  5.224725e+07     0.444196
std     646.776623   3246.662198    11.984069  2.517308e+07     0.538398
min       0.000000      0.000000  1893.000000  1.730000e+06     0.000000
25%     559.750000   2828.250000  1959.000000  3.530300e+07     0.000000
50%    1119.500000   5458.500000  1970.000000  5.138150e+07     0.000000
75%    1679.250000   8427.750000  1977.000000  6.852200e+07     1.000000
max    2239.000000  11191.000000  1996.000000  6.666660e+08     2.000000

          Teenhome      Recency       MntCoke      MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2.240000e+03    2240.000000     2.240000e+03
mean      0.506250    49.109375  3.039357e+05   26302.232143     1.669500e+05
std       0.544538    28.962453  3.365974e+05   39773.433765     2.257154e+05
min       0.000000     0.000000  0.000000e+00       0.000000     0.000000e+00
25%       0.000000    24.000000  2.375000e+04    1000.000000     1.600000e+04
50%       0.000000    49.000000  1.735000e+05    8000.000000     6.700000e+04
75%       1.000000    74.000000  5.042500e+05   33000.000000     2.320000e+05
max       2.000000    99.000000  1.493000e+06  199000.000000     1.725000e+06

       MntFishProducts  MntSweetProducts   MntGoldProds  NumDealsPurchases  \
count      2240.000000       2240.000000    2240.000000        2240.000000
mean      37525.446429      27062.946429   44021.875000           2.325000
std       54628.979403      41280.498488   52167.438915           1.932238
min           0.000000          0.000000       0.000000           0.000000
25%        3000.000000       1000.000000    9000.000000           1.000000
50%       12000.000000       8000.000000   24000.000000           2.000000
75%       50000.000000      33000.000000   56000.000000           3.000000
max      259000.000000     263000.000000  362000.000000          15.000000

       NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
count      2240.000000          2240.000000        2240.000000
mean          4.084821             2.662054           5.790179
std           2.778714             2.923101           3.250958
min           0.000000             0.000000           0.000000
25%           2.000000             0.000000           3.000000
50%           4.000000             2.000000           5.000000
75%           6.000000             4.000000           8.000000
max          27.000000            28.000000          13.000000

       NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
count        2240.000000   2240.000000   2240.000000   2240.000000
mean            5.316518      0.072768      0.074554      0.072768
std             2.426645      0.259813      0.262728      0.259813
min             0.000000      0.000000      0.000000      0.000000
25%             3.000000      0.000000      0.000000      0.000000
50%             6.000000      0.000000      0.000000      0.000000
75%             7.000000      0.000000      0.000000      0.000000
max            20.000000      1.000000      1.000000      1.000000

       AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  Z_Revenue  \
count   2240.000000   2240.000000  2240.000000         2240.0     2240.0
mean       0.064286      0.013393     0.009375            3.0       11.0
std        0.245316      0.114976     0.096391            0.0        0.0
min        0.000000      0.000000     0.000000            3.0       11.0
25%        0.000000      0.000000     0.000000            3.0       11.0
50%        0.000000      0.000000     0.000000            3.0       11.0
75%        0.000000      0.000000     0.000000            3.0       11.0
max        1.000000      1.000000     1.000000            3.0       11.0

          Response  Customer_Age  Total_Children  Total_Spending  \
count  2240.000000   2240.000000     2240.000000    2.240000e+03
mean      0.149107     54.194196        0.950446    6.057982e+05
std       0.356274     11.984069        0.751803    6.022493e+05
min       0.000000     27.000000        0.000000    5.000000e+03
25%       0.000000     46.000000        0.000000    6.875000e+04
50%       0.000000     53.000000        1.000000    3.960000e+05
75%       0.000000     64.000000        1.000000    1.045500e+06
max       1.000000    130.000000        3.000000    2.525000e+06

       Total_Transactions  Conversion_Rate
count         2240.000000      2229.000000
mean            14.862054         0.043686
std              7.677173         0.142981
min              0.000000         0.000000
25%              8.000000         0.000000
50%             15.000000         0.000000
75%             21.000000         0.000000
max             44.000000         1.000000

--- Missing Values ---
Unnamed: 0              0
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntCoke                 0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Customer_Age            0
Total_Children          0
Total_Spending          0
Total_Transactions      0
Conversion_Rate        11
Age_Bin                 0
dtype: int64

--- Duplicated Rows ---
0

In [8]:
# Print distinct values
print("\nDistinct Values for Each Column:")
for col in df.columns:
    unique_values = df[col].unique()
    print(f"{col}: {unique_values[:20]}{'...' if len(unique_values) > 20 else ''} (Total: {len(unique_values)})")

Distinct Values for Each Column:
Unnamed: 0: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]... (Total: 2240)
ID: [5524 2174 4141 6182 5324 7446  965 6177 4855 5899 1994  387 2125 8180
 2569 2114 9736 4939 6565 2278]... (Total: 2240)
Year_Birth: [1957 1954 1965 1984 1981 1967 1971 1985 1974 1950 1983 1976 1959 1952
 1987 1946 1980 1949 1982 1979]... (Total: 59)
Education: ['S1' 'S3' 'S2' 'SMA' 'D3'] (Total: 5)
Marital_Status: ['Lajang' 'Bertunangan' 'Menikah' 'Cerai' 'Janda' 'Duda'] (Total: 6)
Income: [58138000. 46344000. 71613000. 26646000. 58293000. 62513000. 55635000.
 33454000. 30351000.  5648000.       nan  7500000. 63033000. 59354000.
 17323000. 82800000. 41850000. 37760000. 76995000. 33812000.]... (Total: 1975)
Kidhome: [0 1 2] (Total: 3)
Teenhome: [0 1 2] (Total: 3)
Dt_Customer: ['04-09-2012' '08-03-2014' '21-08-2013' '10-02-2014' '19-01-2014'
 '09-09-2013' '13-11-2012' '08-05-2013' '06-06-2013' '13-03-2014'
 '15-11-2013' '10-10-2012' '24-11-2012' '24-12-2012' '31-08-2012'
 '28-03-2013' '03-11-2012' '08-08-2012' '06-01-2013' '23-12-2012']... (Total: 663)
Recency: [58 38 26 94 16 34 32 19 68 11 59 82 53 23 51 20 91 86 41 42]... (Total: 100)
MntCoke: [ 635000   11000  426000  173000  520000  235000   76000   14000   28000
    5000    6000  194000  233000    3000 1006000   53000   84000 1012000
    4000   86000]... (Total: 776)
MntFruits: [ 88000   1000  49000   4000  43000  42000  65000  10000      0   5000
  16000  61000   2000  14000  22000  80000  17000   3000 100000  12000]... (Total: 158)
MntMeatProducts: [ 546000    6000  127000   20000  118000   98000  164000   56000   24000
   11000  480000   53000   17000  115000   19000   38000  498000   73000
 1725000   86000]... (Total: 558)
MntFishProducts: [172000   2000 111000  10000  46000      0  50000   3000   1000  11000
 225000   6000  59000 150000  30000  69000  21000  39000  15000  20000]... (Total: 182)
MntSweetProducts: [ 88000   1000  21000   3000  27000  42000  49000   2000 112000   5000
  68000  13000  12000  16000  24000  38000      0  32000   6000 263000]... (Total: 177)
MntGoldProds: [ 88000   6000  42000   5000  15000  14000  27000  23000   2000  13000
   1000  16000  30000  45000   4000  28000 176000  39000  48000  19000]... (Total: 213)
NumDealsPurchases: [ 3  2  1  5  4 15  7  0  6  9 12  8 10 13 11] (Total: 15)
NumWebPurchases: [ 8  1  2  5  6  7  4  3 11  0 27 10  9 23 25] (Total: 15)
NumCatalogPurchases: [10  1  2  0  3  4  6 28  9  5  8  7 11 22] (Total: 14)
NumStorePurchases: [ 4  2 10  6  7  0  3  8  5 12  9 13 11  1] (Total: 14)
NumWebVisitsMonth: [ 7  5  4  6  8  9 20  2  3  1 10  0 14 19 17 13] (Total: 16)
AcceptedCmp3: [0 1] (Total: 2)
AcceptedCmp4: [0 1] (Total: 2)
AcceptedCmp5: [0 1] (Total: 2)
AcceptedCmp1: [0 1] (Total: 2)
AcceptedCmp2: [0 1] (Total: 2)
Complain: [0 1] (Total: 2)
Z_CostContact: [3] (Total: 1)
Z_Revenue: [11] (Total: 1)
Response: [1 0] (Total: 2)
Customer_Age: [66 69 58 39 42 56 52 38 49 73 40 47 64 71 36 77 43 74 41 44]... (Total: 59)
Total_Children: [0 2 1 3] (Total: 4)
Total_Spending: [1617000   27000  776000   53000  422000  716000  590000  169000   46000
   49000   19000   61000 1102000  310000 1315000   96000  317000 1782000
  133000  316000]... (Total: 1054)
Total_Transactions: [25  6 21  8 19 22 10  2  4 16 15  5 26  9 13 12 43 17 20 14]... (Total: 39)
Conversion_Rate: [0.14285714 0.         0.11111111 0.33333333 0.16666667 1.
 0.2        0.25       0.125      0.5               nan 0.1       ] (Total: 12)
Age_Bin: ['62-66' '67-71' '57-61' '37-41' '42-46' '52-56' '47-51' '72-76' '32-36'
 '77-81' '27-31' '122-126' '127-131' '82-86'] (Total: 14)

## Since there are no duplicates found, lets proceed to other pre-processing steps

### Handling Nulls

In [14]:
df['Income'].fillna(df['Income'].median(), inplace=True)
df.dropna(subset=['Conversion_Rate'], inplace=True)

C:\Users\brama\AppData\Local\Temp\ipykernel_8\537964315.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].median(), inplace=True)

### Dropping Unnecessary Columns

In [15]:
df.drop(['Unnamed: 0', 'ID', 'Dt_Customer', 'Z_CostContact', 'Z_Revenue', 'Age_Bin'], axis=1, inplace=True)

### Handling Education Feature by Mapping into numeric

In [16]:
education_mapping = {
    'SMA': 1,
    'D3': 2,
    'S1': 3,
    'S2': 4,
    'S3': 5
}

df['Education'] = df['Education'].map(education_mapping)

### One-hot Encode Marital Status Feature

In [17]:
df = pd.get_dummies(df, columns=['Marital_Status'], prefix='Marital', drop_first=True)

In [18]:
# Some backup
df.to_csv('preproc_nonstandardize.csv', index=False)

### Standardize the Data

In [19]:
from sklearn.preprocessing import StandardScaler

numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [20]:
# Some backup
df.to_csv('preproc_standardized.csv', index=False)

In [21]:
print("\n--- Missing Values ---")
print(df.isnull().sum())

print("\n--- Duplicated Rows ---")
print(df.duplicated().sum())

--- Missing Values ---
Year_Birth             0
Education              0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
MntCoke                0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Response               0
Customer_Age           0
Total_Children         0
Total_Spending         0
Total_Transactions     0
Conversion_Rate        0
Marital_Cerai          0
Marital_Duda           0
Marital_Janda          0
Marital_Lajang         0
Marital_Menikah        0
dtype: int64

--- Duplicated Rows ---
183

In [22]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

      Year_Birth  Education    Income   Kidhome  Teenhome   Recency   MntCoke  \
83     -0.485771   0.540696 -0.543180 -0.828645 -0.933088  0.239836 -0.570796
179    -1.487266  -1.454687  1.076007 -0.828645 -0.933088 -0.174900 -0.288847
281     0.599182  -0.456995 -0.025513 -0.828645  0.905863  1.207551 -0.021738
282    -1.904556  -0.456995 -0.578100 -0.828645 -0.933088 -1.004370 -0.653896
363     0.766098   1.538387 -0.579846  1.027686 -0.933088 -0.624196 -0.876487
...          ...        ...       ...       ...       ...       ...       ...
2218    0.766098  -0.456995 -1.186559  1.027686 -0.933088 -0.313145 -0.888359
2221    1.099930   0.540696  0.965563 -0.828645 -0.933088 -1.280860  1.209933
2225   -0.068481  -0.456995  0.266231  1.027686  0.905863  0.205274  0.188982
2234    0.432266  -0.456995 -0.713678  1.027686 -0.933088  1.103867 -0.894295
2236   -1.904556   1.538387  0.487932  2.884017  0.905863  0.239836  0.301761

      MntFruits  MntMeatProducts  MntFishProducts  MntSweetProducts  \
83    -0.233526        -0.549626        -0.061465         -0.123640
179   -0.006683         1.285172         0.692125         -0.655770
281   -0.485574        -0.390277        -0.686394         -0.389705
282   -0.535983        -0.576943         2.070643         -0.365517
363   -0.662007        -0.722635        -0.612873         -0.631582
...         ...              ...              ...               ...
2218  -0.636803        -0.713529        -0.686394         -0.655770
2221  -0.006683         1.699481         0.581843         -0.341330
2225  -0.057092        -0.440358         0.012056         -0.655770
2234  -0.586393        -0.718082        -0.576112         -0.607394
2236  -0.662007        -0.613366        -0.686394         -0.655770

      MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
83        0.869789          -0.697231        -0.760595             0.831045
179       3.455984          -0.697231         0.331311             1.534711
281       2.664686          -0.169513         1.423217            -0.224453
282      -0.307509          -0.169513        -0.032658            -0.576286
363      -0.751409          -0.697231        -1.124563            -0.928119
...            ...                ...              ...                  ...
2218     -0.828609          -0.697231        -1.124563            -0.928119
2221      0.696089          -0.697231        -0.396626             1.182878
2225      0.850489           1.941356         1.423217            -0.224453
2234     -0.674209          -0.697231        -1.124563            -0.928119
2236     -0.693509           2.469073         1.423217            -0.224453

      NumStorePurchases  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
83            -0.863197          -0.974892     -0.280885     -0.283664
179            1.916354          -1.391023     -0.280885     -0.283664
281           -0.554358           1.105761     -0.280885     -0.283664
282            0.063320           0.689631     -0.280885     -0.283664
363           -1.172036           1.521892     -0.280885     -0.283664
...                 ...                ...           ...           ...
2218          -1.172036           1.105761     -0.280885     -0.283664
2221           1.607515          -1.807153     -0.280885      3.525296
2225           0.063320           0.689631     -0.280885     -0.283664
2234          -1.172036           0.689631     -0.280885     -0.283664
2236          -0.245519           0.689631     -0.280885     -0.283664

      AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response  \
83       -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
179      -0.280885      3.805150     -0.116801 -0.097524 -0.419825
281      -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
282      -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
363      -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
...            ...           ...           ...       ...       ...
2218     -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
2221      3.560175     -0.262802     -0.116801 -0.097524  2.381943
2225     -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
2234     -0.280885     -0.262802     -0.116801 -0.097524 -0.419825
2236     -0.280885      3.805150     -0.116801 -0.097524 -0.419825

      Customer_Age  Total_Children  Total_Spending  Total_Transactions  \
83        0.485771       -1.270492       -0.475069           -0.503819
179       1.487266       -1.270492        0.622396            1.331169
281      -0.599182        0.061553       -0.046060            0.151534
282       1.904556       -1.270492       -0.476732           -0.241678
363      -0.766098        0.061553       -0.962277           -1.421313
...            ...             ...             ...                 ...
2218     -0.766098        0.061553       -0.978905           -1.421313
2221     -1.099930       -1.270492        1.387296            0.806887
2225      0.068481        1.393597       -0.029432            0.937957
2234     -0.432266        0.061553       -0.953963           -1.421313
2236      1.904556        2.725641       -0.265553            0.937957

      Conversion_Rate  Marital_Cerai  Marital_Duda  Marital_Janda  \
83          -0.305605          False         False          False
179         -0.305605          False         False          False
281         -0.305605          False         False          False
282         -0.305605          False         False          False
363         -0.305605          False         False          False
...               ...            ...           ...            ...
2218        -0.305605          False         False          False
2221         6.689915          False         False          False
2225        -0.305605          False         False          False
2234        -0.305605          False         False          False
2236        -0.305605          False         False          False

      Marital_Lajang  Marital_Menikah
83             False            False
179            False             True
281            False            False
282            False            False
363            False             True
...              ...              ...
2218           False            False
2221            True            False
2225           False            False
2234           False             True
2236           False            False

[183 rows x 34 columns]